<ion-view view-title="Notifications">

    <ion-nav-buttons side="right">
        <button class="button" ng-click="doRefreshAction()">Refresh</button>
    </ion-nav-buttons>

    <ion-content class="padding">
    <!--
		<div class="list">

		    <a class="item item-avatar">
		      <img src="img/stock3.jpg">
		      <h2>John</h2>
		      <p>You: Im on my way</p>
		    </a>
		    <a class="item item-avatar">
		      <img src="img/stock2.jpg">
		      <h2>Jeff</h2>
		      <p>Jeff: Im by the freeweights</p>
		    </a>

		</div>
-->
        <ion-list can-swipe="true">
            <ion-item class="item item-thumbnail-left" ng-repeat="data in noteList" data="" type="item-text-wrap" ng-click="openModal1(data)">
                <p>{{data.name}}</p>
                <p>{{data.hour}}:{{data.min}}</p>
                <p>{{data.desc}}</p>
                <ion-option-button class="button-assertive" ng-click="doDeleteRow(data.id)">
                    DELETE
                </ion-option-button>
            </ion-item>
        </ion-list>

        <div id="notes" ng-bind-html="home"></div>

	</ion-content>


</ion-view>	