<ion-view view-title="Profile" >
	<ion-content>


		<div class="list list-inset">

			<div class="item item-avatar">
		      <img src="img/stock2.jpg">
		    </div>
		    <div class="item">
		      <p>Weight: 130 lb</p>
		    </div>
		    <div class="item">
		      <p>Goal: Put on muscle mass in general and to get stronger</p>
		    </div>

		</div>

		<button class="button button-small button-block  button-positive">
				<p class="profile-edit">Edit Profile</p>
		</button>


	</ion-content>

</ion-view>	