<ion-view title="Home">
    <ion-content class="padding">
    	<div id="posts" ng-bind-html="home"></div>


<!--
      	<div class="list card">
		  	<div class="item item-avatar">
			    <img src="img/stock1.jpg">
			    <h2>Clara Info</h2>
			    <p>Time Posted: 11:45AM</p>
		 	</div>

		  	<div class="item item-body">
			    <p>
			      Description:
			      Need a spottr for bench press and squat
			    </p>
		  	</div>
	 	</div>

	 	<div class="list card">

		  	<div class="item item-avatar">
			    <img src="img/stock2.jpg">
			    <h2>jeff Info</h2>
			    <p>Time Posted: 11:55AM</p>
		  	</div>

	  		<div class="item item-body">
			    <div class="imageresize">
			    	<img src="img/stock2.jpg">
			    </div>
	    		<p>
				    Description:
				    Need a spottr shoulder press and squat
	    		</p>
	  		</div>
	 	</div>


		<div class="list card">

			<div class="item item-avatar">
				<img src="img/stock3.jpg">
				<h2>John Info</h2>
				<p>Time Posted: 12:55AM</p>
			</div>

			<div class="item item-body">
			    <div class="imageresize">
			    	<img src="img/stock3.jpg">
			    </div>
			    <p>
			      	Description:
			      	Need a spottr for deadlifts
			    </p>
			</div>
		</div>
	-->

    </ion-content>

  </ion-view>